<div class="jumbotron m-4">
    <div class = "container text-center">
        <h1 class="display-4 text-center"> <%= @client.first_name + ' ' + @client.last_name %> </h1>
    </div>
</div>

<div class="container m-4">
  <h2 class="display-4"> Cases: </h2>
  <%= link_to 'New Case', new_case_path(id: @client.id), class: "btn btn-primary btn-rounded btn-sm", action: :new %>
</div>

<div class="container">
  <% @case.map do |cases| %>
    <p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <h5 class="display-6"> <%= cases.category %> </h5>
          <p>Description: <%= cases.description %></p>
          <p> Comments: </p>
          <%  @case_comments.map do |comment| %>
            <% if cases.id == comment.case_id %>
              <div style="padding: 5px">
              <p> By: <%= comment.author %> </p>
              <h4> <span class="badge badge-info"> <%= comment.comment %> </span></h4>
              <span> <%= comment.created_at.strftime("%m/%d/%Y %I:%M%p") %> </span>
              </div>
            <% end %>
          <% end %>
          <% if cases.images.attached? %>
              <div id="myCarousel" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
              <% cases.images.map do |image, index| %>
                <li data-target="#myCarousel" data-slide-to="0" data-slide-to="<%= index %>" class="<%= index == 0 ? 'active' : '' %>"><%= image_tag image.variant(resize: "200"), class: "mx-auto d-block rounded" %></li>
              <%end%>
              </ol>
            </div>
          <% end %>
          <br><%= link_to 'Comment', new_comment_path(id: cases.id), class: "btn btn-primary btn-rounded", action: :new %>
              <%= link_to 'Edit Case', edit_case_path(id: cases.id), class: "btn btn-primary btn-rounded", action: :edit %>
        </li>
      </ul>
    </p>
  <% end %>
</div>