<div class="jumbotron m-4">
    <div class = "container text-center">
        <h1 class="display-4 text-center"> <%= @client.first_name + ' ' + @client.last_name %> </h1>
    </div>
</div>

<!-- Card -->
<div class="text-center">
      <h2 class="display-4 text-center">Cases</h2>
      <%= link_to 'New Case', new_case_path, class: "btn btn-primary btn-rounded btn-sm", action: :new %>
</div>
<div class="row" style="padding: 15px"> 
  <% @case.map do |cases| %>
    <div class="col-sm-3" key=<%=cases.id%>>
      <div class="card-group">
          <div class="card text-center" style="display: flex">
            <div class="card-body">
              <h5 class="card-title"> <%= cases.category %> </h5>
              <p class="card-text">Description: <%= cases.description %></p>
           
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>