<div>
  <div class="jumbotron m-4">
    <div class="container">
      <% if @agent.image.attached? %>
        <p>
          <%= image_tag @agent.image.variant(resize: "400"), class: "mx-auto d-block rounded" %>
        </p>
      <% end %>
      <h1 class="display-4 text-center">Welcome, <%= @agent.first_name %></h1>
      <p class="lead text-center">Let's bring in the business.
        <br><b>You're in control of your own success.</b></p>
    </div>
      <div class="text-center">
        <% if current_user.id == @agent.id %>
          <%= link_to 'Edit Profile', edit_agent_path(@agent), class: "btn btn-primary btn-rounded btn-sm" %>
        <% end %>
      </div>
      <div class="text-center">
        <h2 class="display-4 text-center">Your Clients</h2>
        <%= link_to 'New Client', new_client_path, class: "btn btn-primary btn-rounded btn-sm", action: :new %>
      </div>
      
      <div class="row" style="padding: 20px"> 
        <% current_user.clients.map do |client| %>
          <div class="col-sm-3">
              <div class="card text-center" style="width: 18rem;">
                <img class="card-img-top" src=".../100px180/" alt="Client Image">
                  <div class="card-body">
                    <h5 class="card-title"> <%= client.first_name + ' ' + client.last_name %></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
              </div>
          </div>
        <% end %>
      </div>
  </div>
</div>