<!-- Agent Profile Header -->
<div class="jumbotron m-4">
  <div class="container text-center">
    <% if @agent.image.attached? %>
      <p class="rounded float-left">
        <%= image_tag @agent.image.variant(resize: "200"), class: "mx-auto d-block rounded" %>
      </p>
    <% end %>
    <h1 class="display-4 text-center">Welcome, <%= @agent.first_name %></h1>
    <p class="lead text-center">Let's bring in the business.</p>
      <p class="lead text-center">You're in control of your own success.</p>
    <% if current_user.id == @agent.id %>
      <%= link_to 'Edit Profile', edit_agent_path(@agent), class: "btn btn-primary btn-rounded btn-sm" %>
    <% end %>
  </div>
</div>

<!-- Card -->
<div class="text-center">
      <h2 class="display-4 text-center">Your Clients</h2>
      <%= link_to 'New Client', new_client_path, class: "btn btn-primary btn-rounded btn-sm", action: :new %>
</div>
<div class="row" style="padding: 15px"> 
  <% current_user.clients.map do |client| %>
    <div class="col-sm-3" key=<%=client.email%>>
      <div class="card-group">
          <div class="card text-center" style="display: flex">
            <div class="card-body">
              <h5 class="card-title"> <%= client.first_name + ' ' + client.last_name %></h5>
              <p class="card-text">email: <%= client.email %></p>
              <p class="card-text">phone: <%= client.phone_number %></p>
              <%= link_to 'New Case', new_case_path, class: "btn btn-primary btn-rounded btn-sm", action: :new %>
              <p style="padding: 15px">Recent Cases: </p>
                <ul class="list-group list-group-flush">
                  <% if client.cases.first.nil? %>
                    <li class="list-group-item"> There are no cases to display.</li>
                  <% end %> 
                  <% if client.cases.count > 0 %>
                      <% client.cases.map do |cases| %>
                        <li class="list-group-item">
                          <%= link_to 'Client Profile', client_path(params[:id]), class: "btn btn-primary btn-rounded btn-sm", action: :show %>
                        </li>
                    <% end %>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>